In [3]:
import main

home_df = main.runAll()
home_style = main.getHomesStyled(home_df=home_df, html=False)